@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------------------------
    react toastify custom styles here
----------------------------------------*/
.Toastify__toast {
  color: #161516 !important;
  font-weight: 500 !important;
  text-align: center;
}
